
<nav class="nav">
    <ul class="navbar">
      <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">about me</a></li>
      <li><a href="{{ '/books' | prepend: site.baseurl | prepend: site.url }}">books</a></li>
      <li><a href="https://zulfadz.github.io/solutions/">solutions</a></li>
    </ul>
</nav>

<style>
      nav ul {
        display: flex;
        list-style: none;
        text-align: center;  
        
      }
    
      nav ul li {
        margin-right: 10px;
        float: center;
      }
    
</style>





