
<nav class="nav">
    <ul>
      <li style="float:center"><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">about</a></li>
      <li style="float:center"><a href="{{ '/books' | prepend: site.baseurl | prepend: site.url }}">books</a></li>
      <li style="float:center"><a href="https://zulfadz.github.io/abbott-solution/">solutions (abbott)</a></li>
      <li style="float:center"><a href="https://zul.rocks/moodboard-master/">moodboard</a></li>
    </ul>
</nav>



<style>
      nav ul {
        border: 5px;
        display: flex;
        list-style: none;
        justify-content: center;
        text-align: center;  
        
      }
    
      nav ul li {
        margin-right: 30px; 
        text-align: center; 
        justify-content: center;
        
      }
    
</style>





